#confetti-canvas-1, #confetti-canvas-2 {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
  overflow: visible;
  pointer-events: none;
}

#confetti-canvas-1 {
  z-index: 0;
}

.container {
  perspective: 1500px;
  perspective-origin: 50% 0%;
  display: flex;
  justify-content: center;
}

.box {
  width: 200px;
  height: 200px;
  position: relative;
  transform: translate3d(0,0,0);
  transform-style: preserve-3d;
  transition: 250ms transform linear;
  box-shadow: 0 20px 20px -10px rgba(109,109,22,.15);
  top: 100px;
  animation: rumble .1s infinite linear;
  will-change: transform;
  animation-fill-mode: both;
  @include susy-breakpoint($break-400px) {
    width: 300px;
    height: 300px;
  }
}
.box.open {
  animation: spin 250ms linear 250ms;
  animation-fill-mode: both;
}

.color-change {
  margin: 20px auto;
  animation: glow 1500ms ease-in-out 3;
}
.side {
  width: 200px;
  height: 200px;
  background: #9EAC25;
  position: absolute;
  @include susy-breakpoint($break-400px) {
    width: 300px;
    height: 300px;
  }
}
.side-1 {
  width: 200px;
  height: 200px;
  position: absolute;
  transform: rotateX(90deg) translateZ(100px);
  transform-style: preserve-3d;
  @include susy-breakpoint($break-400px) {
    width: 300px;
    height: 300px;
    transform: rotateX(90deg) translateZ(150px);
  }
}

.side-2 {
  transform: translateZ(100px);
  line-height: 30px;
  font-size: 14px;
  text-align: center;
  color: #fff;
  background-color: $color-primary;
  @include susy-breakpoint($break-400px) {
    width: 300px;
    height: 300px;
    transform: translateZ(150px);
  }
}

.side-3 {
  transform: rotateY(90deg) translateZ(100px);
  background-color: darken($color-primary, 5%);
  @include susy-breakpoint($break-400px) {
    transform: rotateY(90deg) translateZ(150px);
  }
}

.side-4 {
  transform: rotateX(-90deg) rotate(180deg) translateZ(100px);
  @include susy-breakpoint($break-400px) {
    transform: rotateX(-90deg) rotate(180deg) translateZ(150px);
  }
}

.side-5 {
  transform: rotateY(180deg) translateZ(100px);
  background-color: $color-primary;
  @include susy-breakpoint($break-400px) {
    transform: rotateY(180deg) translateZ(150px);
  }
}

.side-6 {
  transform: rotateY(-90deg) translateZ(100px);
  background-color: darken($color-primary, 3%);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  @include susy-breakpoint($break-400px) {
    transform: rotateY(-90deg) translateZ(150px);
  }
}
.inner-side {
  transition: 250ms transform ease;
}

.flap-1, .flap-2 {
  width: 200px;
  height: 100px;
  background: lighten($color-primary, 2%);
  will-change: transform;
  transform: translate3d(0,0,0);
  transform-style: preserve-3d;
  @include susy-breakpoint($break-400px) {
    width: 300px;
    height: 150px;
  }
}

.flap-1 {
  top: 100px;
  transform-origin: 0px 100px;
  @include susy-breakpoint($break-400px) {
    top: 150px;
    transform-origin: 0px 150px;
  }
}

.flap-2 {
  transform-origin: 200px 0px;
  @include susy-breakpoint($break-400px) {
    transform-origin: 300px 0px;
  }
}
.box.open .flap-1 {
  animation: openbox-flap1 500ms ease-in-out 600ms;
  animation-fill-mode: both;
}

.box.open .flap-2 {
  animation: openbox-flap2 500ms ease-in-out 600ms;
  animation-fill-mode: both;
}
.wac-logo-container {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: 3px;
  @include susy-breakpoint($break-400px) {
    margin-top: 12px;
    margin-left: 3px;
  }
}
.wac-logo {
  width: 70px;
  height: auto;
  bottom: 0;
  margin: 0 auto;
  left: 0;
  right: 0;
  z-index: 999;
  @include susy-breakpoint($break-400px) {
    width: 150px;
  }
}

//Richtet die Box aus, bzw. rotiert den Box-Deckel
@keyframes lineup {
  //from { transform: rotateX(0) }
  to {
    transform: rotateX(90deg);
    transform-origin: bottom center;
    top: -90px;
  }
}
//Dreht den Würfel, damit das öffnen der flaps sichtbarer wird
@keyframes spin {
  to { transform: rotateY(50deg);}
}
//Öffne flap 1
@keyframes openbox-flap1 {
  0% { transform: rotateX(0deg); }
  50% { transform: rotateX(-135deg); }
  70% { transform: rotateX(-105deg); }
  100% { transform: rotateX(-120deg); }
}
//Öffne flap 2
@keyframes openbox-flap2 {
  0% { transform: rotateX(0deg); }
  50% { transform: rotateX(140deg); }
  70% { transform: rotateX(100deg); }
  100% { transform: rotateX(120deg); background-color: lighten($color-primary, 1%);}
}

// Make box rumble
@keyframes rumble {
    0% {transform: rotate(0deg);}
    25% {transform: translate(1px, 0px) rotate(-1deg);}
    50% {transform: translate(0px, -1px) rotate(0deg);}
    75% {transform: translate(-1px, 0px) rotate(1deg);}
    100% {transform: translate(0px, 1px) rotate(0deg);}
}
