* {
  box-sizing: border-box;
}

html {
  -webkit-font-smoothing: antialiased;
}

body {
  font-size: $base-font;
  font-family: 'Open Sans', sans-serif;
  color: #444;
  background: linear-gradient(180deg,#CFCCBE 0%,#BAB8AA 50%,#999684 50%,#CFCCBE 100%);
  height: 100vh;
  display: flex;
  justify-content: center;
}
